
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a class="footer-icons" href="/"><i class="fa-solid fa-house"></i></a>
    <a class="footer-icons" href="/compose"><i class="fa-sharp fa-solid fa-signs-post"></i></a>
    <a class="footer-icons" href="/blog-management"><i class="fa-solid fa-eraser"></i></a>
    <a class="footer-icons" href="/about"><i class="fa-solid fa-id-card-clip"></i></a>
    <a class="footer-icons" href="/contact"><i class="fa-solid fa-network-wired"></i></a>
  </div>
</div>
</body>
</html>
